body {
  background-color: lightskyblue;
}

p {
  font-size: 1.5rem;
}

header {
  background-color: lightpink;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1.5rem;
  text-align: center;
}

.container {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}