---
import "../css/custom.css"
import Header from "../components/header.astro"

interface Props {
  title: string;
} /* TypeScript */

const { title } = Astro.props;
/* const title = Astro.props.title; */
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | A Really Nice Title</title>
	</head>
	<body>
    <Header />
    <p>This appears on all pages that use this layout.</p>
		<slot /> <!-- index.astro -->
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
